.container.container.container {
  padding: 46px 69px;
  position: fixed;
  top: 0;
  width: 100%;
  transition:
    padding 0.3s 0s ease-in-out,
    background-color 0.2s 0s ease-in-out;
  font-family: Inter;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0);
  &.small {
    padding-top: 18px;
    padding-bottom: 18px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  &.initialized {
    background-color: #fff;

    & .content {
      transform: translateY(0);
    }
  }
}

.content {
  display: flex;
  align-items: center;
  gap: 66px;
  max-width: 1246px;
  transform: translateY(-90px);
  transition: transform 0.2s 0s ease-in-out;
}

.height {
  height: 145px;
  transition: height 0.3s 0s ease-in-out;
}

.logo {
  display: flex;
  align-items: center;
  color: #141416;
  gap: 7px;
  font-size: 22px;
  line-height: 24px;
  font-weight: 600;
  font-family: Poppins;
}

.logoIcon {
  width: 53px;
  height: 53px;
}

.menuIcon {
  display: none;
  color: #141416;
  min-width: 40px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  &:hover {
    color: #606060;
  }
}

.nav {
  display: flex;
  gap: 50px;
  &.mobile {
    display: none;
  }
}

.navItem {
  font-size: 18px;
  color: #606060;
  line-height: 26px;
  font-weight: 500;
  text-decoration: none;
  width: fit-content;
  &:hover {
    font-weight: 700;
    color: black;
  }
}

@media (max-width: 1024px) {
  .container.container.container {
    padding: 33px;
    padding-left: 69px;
    padding-right: 69px;
  }

  .content {
    max-width: 886px;
    gap: 40px;
  }

  .nav {
    gap: 32px;
  }

  .navItem {
    font-size: 14px;
    line-height: 16px;
  }

  .logoIcon {
    width: 38px;
    height: 38px;
  }

  .height {
    height: 104px;
  }
}

@media (max-width: 700px) {
  .container.container.container {
    padding: 30px;

    &.small.opened {
      border-radius: 0;
    }

    &.small .nav {
      top: 82px;
    }

    &.opened .nav {
      display: flex;
    }
  }

  .content {
    justify-content: space-between;
    transform: none;
  }

  .logoIcon {
    width: 46px;
    height: 46px;
  }

  .menuIcon {
    display: block;
  }

  .nav:not(.mobile) {
    display: none !important;
  }

  .nav.mobile {
    position: fixed;
    background: #fff;
    top: 106px;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 43px;
    padding-left: 30px;
    padding-right: 30px;
    flex-direction: column;

    &:before {
      position: absolute;
      top: -1px;
      left: 30px;
      right: 30px;
      background: #cbcbcb;
      height: 1px;
      border-radius: 1px;
      content: "";
    }
  }

  .navItem {
    font-size: 40px;
    line-height: 42px;
    gap: 20px;
    text-transform: uppercase;
  }
}
