.container {
  display: flex;
  flex-direction: row;
  position: relative;
  width: fit-content;
  &:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1px;
    height: 24px;
    width: 2px;
    background: #e6e8ec;
    content: "";
  }
}

.left,
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: #fcfcfd;
  padding: 20px;
  cursor: pointer;
  outline: none;
}

.left {
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
  padding-left: 28px;
  padding-right: 31px;
}
.right {
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
  padding-right: 28px;
  padding-left: 31px;
}

@media (max-width: 1024px) {
  .container:before {
    height: 18px;
  }

  .left,
  .right {
    padding: 15px;
  }
  .left {
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    padding-left: 21px;
    padding-right: 23px;
  }
  .right {
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    padding-right: 21px;
    padding-left: 23px;
  }
  .icon {
    width: 18px;
    height: 18px;
  }
}
