.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}

.slider {
  width: 100%;
  padding-left: 50%;
}

.sliderContent {
  display: flex;
  gap: 32px;
  transform: translateX(-50%);
  width: fit-content;
  touch-action: none;

  // &.disabled {
  //   pointer-events: none;
  // }
}

@media (max-width: 1024px) {
  .container {
    gap: 50px;
  }
}
