.container {
  display: flex;
  flex-direction: column;
}

.scale {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  width: 100%;
  transition: opacity 0.3s 0s linear;
  opacity: 0;

  &.initialized {
    opacity: 1;
  }
}
