:root {
  --color-white: #ffffff;
  --color-text: #141416;
  --color-title: #c5c5c5;
  --color-bg: #f1f1f1;
}

*,
*::before,
*::after {
  font-family: Poppins;
  box-sizing: border-box;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  margin: 0;
}

h1 {
  font-size: 46px;
  line-height: 48px;
  color: var(--color-title);
  margin: 0;
}
