.container {
  display: flex;
  flex-direction: column;
  font-family: Poppins;
  background: #f1f1f1;
  height: 100vh;
  overflow-y: scroll;
}

.scale {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  width: 100%;
}
